<div class="ch__serarchUser">
    <div class="ch__data__user">
    <span class="ch__list__user__name">{{this.id}}</span>
    </div>
    <div class="ch__div__img">
        <img src="{{this.avatar}}" alt="img">
    </div>
    <div class="ch__data__user">
    <span class="ch__list__user__name">{{this.first_name}} {{this.second_name}}</span>
    </div>
    <div class="ch__data__user">
    <span class="ch__list__user__login">{{this.login}}</span>
    </div>
    <div class="ch__data__user">
    <span class="ch__list__user__email">{{this.email}}</span>
    </div>
    <div class="ch__data__user">
    <span class="ch__list__user__phone">{{this.phone}}</span>
    </div>
    <button class="ch__delUser" data-id="{{this.id}}">удалить</button>
</div>